{% extends 'portfolio/base.html' %}
{% load static %}
{% block content %}
<h3 id="blogtitle" class="font-light text-center">Welcome to akenz blog</h3>

<h4 class="text-center mb-5">Akenz has written {{ blogs.count }} article{{ blogs.count|pluralize }}</h4>
{% for blog in blogs %}
    <div class="row justify-content-center my-3">
  <div class="col-md-10">
    <a href="{% url 'blog:detail' blog.id %}">
      <h3 class="blogtitle">{{ blog.title }}</h3>
    </a>
    <h5 class="text-muted">{{ blog.date|date:'M d Y'|upper }}</h5>
    <h4>{{ blog.body|striptags|truncatechars:100 }}</h4>
  </div>
</div>
{% endfor %}
{% endblock %}
